*{
    margin: 0;
    padding: 0;
}

.topbar{
    background: grey;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    border: 2px solid black;
}
.logo{
    background: green;
    width: 10%;
    border: 2px solid lightgrey;
    width: auto;
}
.navbar{
    background: green;
    width: 10%;
    justify-content: flex-end;
    border: 2px solid lightgrey;
    width: auto;
}

.logo, .navbar{
    padding: 15px;
    margin: 15px;
    display: flex;
}
.bigcontainer {
   display: flex;
 flex-wrap: wrap;
}

.splash{
    background: grey;
    height: 50vh;
    margin: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.tilbudcontainer{
    background: grey;
    height: 25vh;
    margin: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}
.tilbud1{
    background: green;
    margin: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    order: 1;
}
.tilbud2{
    background: green;
    margin: 5px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    order: 2;
}
.tilbud3{
    background: green;
    margin: 5px;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
    order: 3;
}

.tilbud1, .tilbud2, .tilbud3{
    flex-grow: 1;
}

.proces{
    background: grey;
    height: 50vh;
    margin: 5px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
}

footer{
    background: grey;
    height: 5vh;
    margin: auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



@media screen and (min-width:1280px ) {
    .navbar{
        width: 700px;
        justify-content: center;
    }

    .proces{
        order: -1;
    }

    .tilbud1{
        order: 3;
    }
    .tilbud2{
        order: 2;
    }
    .tilbud3{
        order: 1;
    }
    footer{
        background: grey;
        height: 10vh;
        margin: 50px 5px;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}