*{
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contain{
    background: #ddd;
    padding: 15px;
    margin: 15px auto;
    max-width: 1000px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4,1fr);

}
.grid-items{
    background: limegreen;
    padding: 15px;
    color: whitesmoke;
    font-size: 2em;
    
}

.two{
    grid-column: 2/5;
}
.three{
    grid-column: 1/3;
    grid-row: span 2;
}
.six{
    grid-column: span 4;
}
.four, .john{
    grid-column: span 2;
}
